.allUsersContainer {
  max-width: 600px;
  margin: 20px auto;
  background-color: rgb(242, 242, 242);
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 1px solid black;  
}


.userContainer {
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
  padding: 8px;
  background-color: white;
}


.allUsersContainer h3{
  color:#4299e1;
  text-align: center;
}

.userContainer h3,
p {
  text-align: center;
  color:black;
}

.userContainer img {
  display: block;
  margin: auto;
  max-width: 300px;
  border:1px solid black;
  padding:10px;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
